<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="calendar" class="com.idega.block.cal.business.CalServiceBean" scope="session" />
	<bean id="calendarSchedule" class="com.idega.block.cal.business.ScheduleSessionBean" scope="session" />
</beans>